body {
    font-family: 'Arial', sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.jumbotron {
    margin-bottom: 0;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    margin-top: 50px;
}
